.Console{
    width: 220px;
    height: 100%;
    background: #fff;
    overflow-y: scroll;
    padding: 10px;
<<<<<<< HEAD:src/pages/home/console/consoleStyle.css
}   

.Console .Consoole-title {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
=======
    h3{
        font-weight: bold;
    }
}   
>>>>>>> d13daf9a5aa2c24a0a69e64e97412054689551af:src/pages/home/console/consoleStyle.scss
