#file {
    opacity: 0;
}

/* .picture_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
} */

/* .picture_button {
    background-color: rgb(250, 250, 251);
    border: none;
    width: 150px;
    vertical-align: center;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    margin-left: 15px;
} */

/* .picture_input Input {
    border-radius: 10px;
} */

.picture {
    width: 200px;
    height: 200px;
    background-color: rgb(250, 250, 251);
    border-radius: 5px;
    box-shadow: 5px 3px 4px #E6E6FA;
} 



 .picture_height {
    width: 150px;
    height: 35px;
} 