.resume {
    display: grid;
    grid-row-gap: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.firstLine {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.firstLine_content {
    display: flex;
    flex-direction: column;
}

.firstLine_content_content {
    display: flex;
    flex-direction: row;
}

.secondLine {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.secondLine_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secondLine_textarea {
    display: flex;
}



.thirdLine_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thirdLine_textarea_one {
    display: flex;
}

.thirdLine_textarea_two {
    display: flex;
}

.flower {
    background-color: rgb(48,65,114);
    height: 2px;
}

.teachFlower {
    background-color: rgb(48,65,114);
    color: white;
    width: 70px;
    height: 20px;
    text-align: center;
}




