.index{
    height: 100%;
    .top{
        height: 50%;
        margin-bottom: 10px;
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
    }
    .bottom{
        height: 50%;
        overflow-y: scroll;
        padding-bottom: 10px;
    }
}